.main-wrapper {
  padding: 100px 0;
}

.header {
  text-align: center;
  margin-bottom: 80px;
  background: #0d6efd;
  padding: 10px 0;
}

.header h2 {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  color: #fff;
}

.tasks-header {
  margin-bottom: 20px;
}

.tasks-header-filtering-option select {
  max-width: 200px;
}

.tasks-header-filtering-option {
  display: flex;
  justify-content: flex-end;
}

.task-lists-wrapper {
  padding: 50px;
  background: #ecedf6;
  border-radius: 8px;
}

.task-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 2px 2px #e7e7e7;
}

.task-list-details {
  display: flex;
  align-items: center;
}

.task-list-details .form-check {
  margin-bottom: 0px !important;
  min-height: 0;
}

.task-list-info > span {
  display: inline-block;
  font-size: 14px;
  color: #7c7c7c;
  font-weight: 500;
}

.task-list-info p {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.task-list-info p span {
  font-size: 12px;
  text-transform: capitalize;
}

.task-name {
  font-weight: 500;
  font-size: 18px !important;
}
.task-name.complete {
  text-decoration: line-through;
}
